---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@styles/colors/caspian-web.css"

import Intro from "@components/index/Intro.astro"
import Blog from "@components/index/Blog.astro"
import Document from "@components/index/Document.astro"
import News from "@components/index/News.astro"
import Learn from "@components/index/Learn.astro"


// SEO Section
const title= "کاسپین وب | caspian-web";
const section_title= "";
const author= "";
const key_words= "";
const description= "کاسپین وب یعنی آموزش رایگان و آسان برای همه";
---
<BaseLayout title={title} section_title={section_title} description={description} key_words={key_words} author={author}>
	
	<div slot="header-left" class="tc1 flex aitems-center mid-gap">
		<a href="/news/" class="">اخبار</a>
		<a href="/blog/" class="">بلاگ</a>
		<a href="/learn/" class="">آموزش</a>
	</div>

	<div class="main">
		<div class="bg"></div>

		<Intro/>
		<Learn/>
	</div>
</BaseLayout>

<style>
  .bg{
    width:100%;
    min-height:100vh;
    position: absolute;
    z-index: -100;

    background-color: var(--c2);
    opacity: 0.02;
    background-image:  linear-gradient(var(--c1) 1px, transparent 1px), linear-gradient(to right, var(--c1) 1px, var(--c2) 1px);
    background-size: 16px 16px;
  }

</style>