---

const date = "۱۴۰۲ - ۱۴۰۲";

// Astro Props
type Props={
  bg_color1?: string;
  bg_color2?: string;
  bg_color3?: string;
  text_color1?: string;
  text_color2?: string;
  text_color3?: string;
  logo_color?: string;
  link_color1?: string;
  link_color2?: string;
  link_color3?: string;
};
const {
  bg_color1="bgc2",
  bg_color2="",
  bg_color3="",

  text_color1="tc1",
  text_color2="tc1",
  text_color3="",

  logo_color="tc4",

  link_color1="tc4",
  link_color2="tc1",
  link_color3="tc1",

} = Astro.props;
const sub_footer_style = "flex aitems-center low-gap";
---
<footer id="footer" class=`${bg_color1} flex flex-col text-bold`>
  <div class=`${bg_color2}`><div id="footer-top" class="vbox flex jcontent-between">

    <div id="footer-right" class=`${text_color1} footer_top text-right`>
      <p>محصولات</p>
      <a href="/" class=`${link_color1}`> کاسپین وب </a>
      <a href="/products/albors-css/" class=`${link_color1}`> البرز (css) </a>
      <slot name="footer-right"/>
    </div>

    <div id="footer-middle" class=`${text_color1} footer_top text-center`>
      <p>ارتباطات</p>
      <a href="/contact/" class=`${link_color1}`>تماس با ما</a>
      <a href="/forum/" class=`${link_color1}`>انجمن</a>
      <slot name="footer-middle"/>
    </div>
    
    <div id="footer-left" class=`${text_color1} footer_top text-left`>
      <p>اطلاعات</p>
      <a href="/news/" class=`${link_color1}`>اخبار</a>
      <a href="/blog/" class=`${link_color1}`>بلاگ</a>
      <a href="/faq/" class=`${link_color1}`>سوالات متداول</a>
      <slot name="footer-left"/>
    </div>

  </div></div>

  <div class=`${bg_color3}`><div id="footer-bottom" class="vbox">

    <div id="footer_bottom-right" class="">
      <div class=`${text_color2} text-small flex low-gap aitems-center`>
        <p>طراحی و تولید </p>
        <a href="https://caspian-web.ir" class=`${logo_color}`>کاسپین وب </a>
        <p>|</p>
        <p> ایران {date} </p>
      </div>
    </div>

    <div id="footer_bottom-middle" class="">

    </div>
    
    <div id="footer_bottom-left" class=`${logo_color} flex low-gap`>
        <a href="/lega/terms_of_use/" class="">شرایط و مقررات</a>
        <p>|</p>
        <a href="/lega/privacy_policy/" class="">سیاست حفظ حریم شخصی</a>
    </div>
    
  </div></div>

</footer>


<style>
  footer{
    box-shadow: 0px 4px 4px 8px rgba(0,0,0,0.1);
    background: var(--c4);
    border-top: 2px solid var(--c4);
  }

  #footer-top{
    padding:.5rem;
  }
  #footer-bottom{
    border-top:2px solid var(--c4);
    border-radius:2px;
    padding:1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: .5rem;
  }

  .footer_top{
    display:flex;
    flex-direction:column;
    gap:.125rem;
  }
  @media(min-width:768px){
    #footer-bottom{justify-content:space-between;}
  }

  #footer a{text-decoration:none;font-size:small;font-weight:bold;}
  #footer a:hover{text-decoration:underline;}

  #footer-bottom,#footer-top{
    margin: .5rem auto;
  }
</style>