---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@styles/colors/caspian-documents.css";
import "../_pllayout.css";

const {frontmatter,headings} = Astro.props;


// SEO Section
const title= frontmatter.title;
const section_title= "آموزش";
const section_url= "/learn/";
const author= frontmatter.author;
const key_words= frontmatter.key_words;
const description= frontmatter.description;

// console.log(headings);
import {Content as TopicMenu} from './menu.md';
---
<BaseLayout title={title} section_title={section_title} section_url={section_url} description={description} key_words={key_words} author={author}>
	
  <div slot="header-left" class="tc1 flex aitems-center mid-gap">
		<div id="hamb">
      <div></div>
      <div></div>
      <div></div>
    </div>
	</div>


  <div id="title_menu" class="not_selected">
    <div>
      <div id="hamb" class="close_hamb">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <TopicMenu/>
    </div>
  </div>
    
    <div id="main" class="vbox flex">
      
      <div id="doc_info" class="tc1 md-hide">
        <p class="text-bold text-medium"> موضوع : {frontmatter.title}</p>
      <p class="text-bold text-small"> نویسندگان : {frontmatter.author}</p>
      <p class="text-bold text-small"> نسخه : {frontmatter.version}</p>
    </div>
    <div id="headers" class="flex flex-col">
      {headings.map(header =>(
        <>
        {
          (header.depth == 1)? <a href=`#${header.slug}` id="header_1" class="text-small text-bold"> {header.text}</a> :
          (header.depth == 2)? <a href=`#${header.slug}` id="header_2" class="text-small"> {header.text}</a> 
          : <div></div>
          }
          </>
          ))
        }
    </div>
    
    <div id="slot" class="tc1">
      <div id="doc_info" class="sm-hide">
        <p class="text-bold text-medium"> موضوع : {frontmatter.title}</p>
        <p class="text-bold text-small"> نویسندگان : {frontmatter.author}</p>
        <p class="text-bold text-small"> نسخه : {frontmatter.version}</p>
      </div>
      <slot/>
    </div>
    
    
	</div>
</BaseLayout>

<script>import '../_pl.js';</script>

<style>

  
</style>