---
import BaseHead from "@layouts/BaseHead.astro";
import BaseBody from "@layouts/BaseBody.astro";
import BaseFooter from "@components/BaseFooter.astro";
import BaseHeader from "@components/BaseHeader.astro";

// Astro Props
type Props={
  title: string;
  section_title?:string;
  section_url?:string;
  author?:string;
  key_words?:string;
  description?: string;
};
const {
  title,
  section_title,
  section_url,
  description,
  key_words,
  author
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <BaseHead {title} {description} {key_words} {author}>

  </BaseHead>

  <BaseBody>

    <BaseHeader {section_title} {section_url}>
      <div slot="header-right">
        <slot name="header-right"/>
      </div>
      <div slot="header-middle">
        <slot name="header-middle"/>
      </div>
      <div slot="header-left">
        <slot name="header-left"/>
      </div>
    </BaseHeader>
    
    <div id="main">
      <slot/>
    </div>

    <BaseFooter>
    </BaseFooter>

  </BaseBody>
</html>
<style>
  #main{min-height:calc(100vh - 3rem);}
</style>